@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #00fff9;
}

#fullHeight {
    height: 100vh;
}

.container {
    background-color: #00aacc;
}

#display {
    background-color: white;
}

.nft {
    width: 100px;
    height: 100px;
}